Repository larapida/websites: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore(husky): fix commit-msg
  .husky/commit-msg
Due: none

chore: edit commitlint config
  commitlint.config.mjs
Due: none

feat(shared-ui): init
  apps/admin-service/package.json
  apps/admin-service/project.json
  apps/admin/project.json
  apps/admin/react-router.config.ts
  apps/api-service/package.json
  apps/api-service/project.json
  apps/www-service/package.json
  apps/www-service/project.json
  apps/www/project.json
  apps/www/react-router.config.ts
  libs/shared/ui/.babelrc
  libs/shared/ui/README.md
  libs/shared/ui/eslint.config.mjs
  libs/shared/ui/package.json
  libs/shared/ui/project.json
  libs/shared/ui/src/components/HiddenInput/HiddenInput.tsx
  libs/shared/ui/src/components/HiddenInput/index.ts
  libs/shared/ui/src/components/Input/Input.tsx
  libs/shared/ui/src/components/Input/index.ts
  libs/shared/ui/src/components/LoadingScreen/LoadingScreen.tsx
  libs/shared/ui/src/components/LoadingScreen/index.ts
  libs/shared/ui/src/components/Splash/Splash.tsx
  libs/shared/ui/src/components/Splash/Splash.types.ts
  libs/shared/ui/src/components/Splash/index.ts
  libs/shared/ui/src/components/WhiteSheet/WhiteSheet.tsx
  libs/shared/ui/src/components/WhiteSheet/index.ts
  libs/shared/ui/src/components/index.ts
  libs/shared/ui/src/index.ts
  libs/shared/ui/tsconfig.json
  libs/shared/ui/tsconfig.lib.json
  nx.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tsconfig.json
Due: eslint --fix, prettier --write

build: fix lint-staged
  .husky/pre-commit
Due: none

chore: improve projects dependencies
  .env
  .env.production
  .gitignore
  apps/admin-service/project.json
  apps/admin/project.json
  apps/api-service/project.json
  apps/www-service/project.json
  apps/www/project.json
  nx.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat(env): remove old env libs
  libs/admin/env/README.md
  libs/admin/env/eslint.config.mjs
  libs/admin/env/package.json
  libs/admin/env/src/index.ts
  libs/admin/env/tsconfig.json
  libs/admin/env/tsconfig.lib.json
  libs/www/env/.env
  libs/www/env/.env.production
  libs/www/env/.gitignore
  libs/www/env/README.md
  libs/www/env/eslint.config.mjs
  libs/www/env/package.json
  libs/www/env/project.json
  libs/www/env/src/index.ts
  libs/www/env/tsconfig.json
  libs/www/env/tsconfig.lib.json
  pnpm-workspace.yaml
  tsconfig.json
Due: eslint --fix, prettier --write

refactor(inject-env): refactor executor
  config/admin-ecosystem/package.json
  nx.json
  package.json
  pnpm-lock.yaml
  tools/dotenv-manager/executors.json
  tools/dotenv-manager/package.json
  tools/dotenv-manager/project.json
  tools/ecosystem/.swcrc
  tools/ecosystem/README.md
  tools/ecosystem/eslint.config.mjs
  tools/ecosystem/executors.json
  tools/ecosystem/package.json
  tools/ecosystem/src/executors/inject-env/executor.ts
  tools/ecosystem/src/executors/inject-env/schema.d.ts
  tools/ecosystem/src/executors/inject-env/schema.json
  tools/ecosystem/src/index.ts
  tools/ecosystem/tsconfig.json
  tools/ecosystem/tsconfig.lib.json
  tsconfig.json
Due: eslint --fix, prettier --write

refactor(cli): remove superuser from seed
  nx.json
  package.json
  pnpm-lock.yaml
  tools/cli/.gitignore
  tools/cli/.swcrc
  tools/cli/README.md
  tools/cli/eslint.config.mjs
  tools/cli/package.json
  tools/cli/src/commands/create-superuser.ts
  tools/cli/src/index.ts
  tools/cli/tsconfig.json
  tools/cli/tsconfig.lib.json
  tools/prisma/.swcrc
  tools/prisma/package.json
  tools/prisma/prisma/schema.prisma
  tools/prisma/project.json
  tsconfig.json
Due: eslint --fix, prettier --write

build(nx): upgrade nx
  migrations.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

refactor(www): refactor of www-ui library
  .husky/pre-commit
  libs/api-service/middlewares/tsconfig.json
  libs/api-service/middlewares/tsconfig.lib.json
  libs/api-service/utils/tsconfig.json
  libs/api-service/utils/tsconfig.lib.json
  libs/shared/service-utils/tsconfig.json
  libs/shared/service-utils/tsconfig.lib.json
  libs/www/ui/package.json
  libs/www/ui/project.json
  libs/www/ui/src/index.ts
  libs/www/ui/src/lib/Page/Page.tsx
  libs/www/ui/src/lib/Page/index.ts
  libs/www/ui/src/lib/index.ts
  libs/www/ui/tsconfig.lib.json
  pnpm-lock.yaml
  tsconfig.json
Due: eslint --fix, prettier --write

fix: fix import type
  libs/shared/client-utils/src/lib/api/api.ts
  libs/shared/ui/src/lib/CardMedia/CardMedia.tsx
  libs/shared/ui/src/lib/Header/Header.tsx
  libs/shared/ui/src/lib/Hero/Hero.tsx
  libs/shared/ui/src/lib/HiddenInput/HiddenInput.tsx
  libs/shared/ui/src/lib/WhiteSheet/WhiteSheet.tsx
Due: eslint --fix, prettier --write

refactor(shared-ui): use PropsWithChildren instead of hard-coding React.ReactNode
  libs/shared/ui/src/lib/AnchorSegment/AnchorSegment.tsx
  libs/shared/ui/src/lib/Header/Header.types.ts
  libs/shared/ui/src/lib/Hero/Hero.types.ts
Due: eslint --fix, prettier --write

fix: try build but failed
  apps/admin/package.json
  apps/api-service/package.json
  apps/www-service/src/routes.ts
  apps/www/package.json
  config/admin-ecosystem/package.json
  config/admin-ecosystem/src/index.ts
  config/admin-ecosystem/src/lib/admin-ecosystem.ts
  libs/api-service/utils/src/lib/exportByVersion.ts
  tools/ecosystem/package.json
  tools/ecosystem/src/executors/inject-env/executor.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,jsx}
  prettier --write: ((any of: *.{ts,tsx,js,jsx}) or (any of: *.md)) or (any of: *.json)
